<!DOCTYPE html>
<html>
<head>
    <title>Главная</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Добро пожаловать, {{ username }}!</h1>
        <a href="/logout">Выйти</a>

        {% if role == 'admin' %}
        <hr>
        <h2>Добавить нового пользователя</h2>
        <form action="/register" method="post">
            <label for="new_username">Имя пользователя:</label><br>
            <input type="text" id="new_username" name="username" required><br><br>

            <label for="new_password">Пароль:</label><br>
            <input type="password" id="new_password" name="password" required><br><br>

            <button type="submit">Создать пользователя</button>
        </form>
        {% endif %}
    </div>
<script src="/static/session.js"></script>
<script>
    const ttl = {{ ttl|tojson }};
    initSessionTimer(ttl);
</script>

</body>
</html>
